/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
/*a:hover, a:active {
    outline: none;
}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*GENERAL*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    width: 100%;
}

/*a{
	text-decoration: none;
    color: inherit;
}*/

.clearfix {
    content: '';
    clear: both;
    display: table;
    overflow: hidden;
}

/*HOME SECTION*/

.home{
    padding: 20px 10px 106px 10px;
    background-color: #528354;
    background: radial-gradient(circle at bottom center, #528354, #314e32);
    position: relative;
    overflow: hidden;
}

/*MENU*/
.logo {
    display: inline-block;
    font-size: 0;
}

.logo-icon{
    width: 56px;
    margin: 0px;
    display: inline-block;
}

.logo p{
    display: inline-block;
    padding-left: 12px;
    color: #fff;
    font-family: "MyriadPro";
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}

.menu-top {
    position: relative;
}
.menu-items{
    line-height: 41px;
    right: 0;
    top: 0;
    position: absolute;
    min-width: 578px;
    height: 250px;
}
.menu-items a:hover{
    background: rgba(0, 0, 0, 0.4);
    -moz-transition-property: rgba(0, 0, 0, 0.4); /*SMOOTH CHANGE BG FOR HOVER*/
    -moz-transition-duration: 0.8s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 1s;
    -o-transition-property: rgba(0, 0, 0, 0.4);
    -o-transition-duration: 0.8s;
}

.menu-btn{
    width: 30px;
    height: 30px;
    display: none;
    background: url('../img/menu.png') no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    cursor: pointer;
}

#menu-checkbox{
    display: none;
}


/*USER OPTIONS*/

#primary_nav_wrap ul
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    width: 100%;
}

#primary_nav_wrap ul a
{
    display:block;
    color: #fff;
    font-size: 21px;
    padding:0 20px;
    font-family: "MyriadPro";
    text-decoration: none;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}
.kostyl
{
    height: 41px;
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:0;
    left:0;
    padding:0;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition-property: background;
    transition-duration: 1s;
    -moz-transition-property: background; /*SMOOTH CHANGE BG FOR HOVER*/
    -moz-transition-duration: 0.8s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: background;
    -webkit-transition-duration: 1s;
    -o-transition-property: background;
    -o-transition-duration: 0.8s;
}

#primary_nav_wrap ul ul li
{
    float:none;
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block;
}

/*MENU FOR MEDIUM DEVISES*/

@media (max-width: 925px){

    .menu-btn {
        display: inline-block;
        top: 6%;
        right: 5%;
        -webkit-transition: right .2s ease;
        -moz-transition: right .2s ease;
        -ms-transition: right .2s ease;
        -o-transition: right .2s ease;
        transition: right .2s ease;
    }

    #menu-checkbox {
        display: none;
    }

    #menu-checkbox:checked ~ .menu-btn {
        right: 1%;
        background: url('../img/cancel.png') no-repeat;
        background-size: 80%;
    }

    #menu-checkbox:checked ~ .menu-items {
        right: 45px;
    }

    .menu-items{
        line-height: 35px;
        position: absolute;
        z-index: 100;
        top: 35px;
        right: -150px;
        padding: 0;
        -webkit-transition: right .3s ease;
        -moz-transition: right .3s ease;
        -ms-transition: right .3s ease;
        -o-transition: right .3s ease;
        transition: right .3s ease;
    }

    .menu-items a{
        text-align: center;
        display: block;
        margin: 0 10px;
        color: #fff;
    }

    .menu-items a:last-child{
        border: 2px solid #fff;
    }

}

/*MENU FOR SMALL DEVISES*/

@media screen and (max-width: 685px) {

    .home{
        padding-top: 5%;
    }

    .logo {
        display: none;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 9%;
        right: 5%;
        width: 56px;
        height: 33px;
        background: url('../img/icon-hydric.png');
    }

    #menu-checkbox:checked ~ .menu-btn {
        background: url('../img/icon-hydric.png');
        opacity: 0.5;
    }

    .menu-items{
        position: absolute;
        top: 17%;
        -webkit-transition: right .3s ease;
        -moz-transition: right .3s ease;
        -ms-transition: right .3s ease;
        -o-transition: right .3s ease;
        transition: right .3s ease;
    }

    .menu-items a{
        display: none;
        padding: 0px 10px;
        color: #fff;
        font-family: "MyriadPro";
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
        background: rgba(0, 0, 0, 0.2);
        -moz-transition-property: rgba(0, 0, 0, 0.2); /*SMOOTH CHANGE BG FOR HOVER*/
        -moz-transition-duration: 1s;
        -moz-transition-timing-function: ease-out;
        -webkit-transition-property: rgba(0, 0, 0, 0.2);
        -webkit-transition-duration: 1s;
        -o-transition-property: rgba(0, 0, 0, 0.2);
        -o-transition-duration: 1s;
    }

    .menu-items a:hover{
        background: rgba(0, 0, 0, 0.4);
        -moz-transition-property: rgba(0, 0, 0, 0.4); /*SMOOTH CHANGE BG FOR HOVER*/
        -moz-transition-duration: 1s;
        -moz-transition-timing-function: ease-out;
        -webkit-transition-property: rgba(0, 0, 0, 0.4);
        -webkit-transition-duration: 1s;
        -o-transition-property: rgba(0, 0, 0, 0.4);
        -o-transition-duration: 1s;
    }

    .menu-items a:last-child{
        border: none;
        padding: 0px 5px 0px 0px;
    }

    #menu-checkbox:checked ~ .menu-items{
        right: 0;
    }

    #menu-checkbox:checked ~ .menu-items a {
        display: block;
        text-align: center;
    }

    .slogan{
        margin: 0 auto;
        width: 50%;
    }
}

/*MAIN CONTENT AT HOME SECTION*/

.slogan{
    margin: 60px auto;
    text-align: center;
    color: #fff;
    font-family: "MyriadPro";
    font-size: 48px;
}

@media (max-width: 925px){

    .slogan{
        margin: 150px auto 50px;
    }

}

.single-fruit{
    margin: 0 auto;
    max-width: 252px;
}

/*SECTION ABOUT*/

.about{
    padding: 121px 0px 119px 0px;
    background: #FFF;
    text-align: center;
}

.about-title{
    color: #4e4e4e;
    font-family: "MyriadPro";
    font-size: 47px;
    line-height: 50px;
    margin-bottom: 18px;
}

.about-text{
    text-align: center;
}

.about p{
    color: #737070;
    font-family: "MyriadPro";
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 11px;
}

.about-pic{
    max-width: 250px;
    margin: 64px auto 0px;
}

/*SECTION HEALTH (FEATURES) */

.health{
    background: #2b342b;
    padding: 101px 0px 102px 0px;
    text-align: center;
}

.health-title{
    color: #fff;
    font-family: "MyriadPro";
    font-size: 47px;
    line-height: 52px;
    margin-bottom: 26px;
    font-weight: 400;
}

.health-text{
    text-align: center;
}

.health p{
    color: #fff;
    font-family: "MyriadPro";
    font-size: 25px;
    line-height: 27px;
    font-weight: 400;
}

/*ARBUZ IMG WITH STRIPS*/

.arbuz-ingridients{
    margin: 47px auto 0px auto;
    position: relative;
    width: 279px;
}
.arbuz p{
    font-family: "MyriadPro";
    font-size: 22px;
    line-height: 24px;
    color: #fff;
}

.protein{
    position: absolute;
    left: 82%;
    top: 0;
    width: 213px;
    height: 100px;
}

.protein img{
    position: absolute;
    top: 30%;
    right: 0;
}

.protein p{
    position: absolute;
    top: 0;
    right: 0;
}

.calories{
    position: absolute;
    right: 86%;
    top: 42%;
    width: 205px;
    height: 34px;
}

.calories p{
    position: absolute;
    top: 0;
    left: 0;
}

.water{
    position: absolute;
    left: 74%;
    top: 61%;
    width: 181px;
    height: 35px;
}

.water p{
    position: absolute;
    bottom: 70%;
    left: 38%;
}

.fat{
    position: absolute;
    right: 50%;
    bottom: -3%;
    width: 198px;
    height: 35px;
}

.fat p{
    position: absolute;
    bottom: 90%;
    left: 0;
}

@media screen and (max-width: 641px){

    .arbuz-ingridients{
        width: 150px;
    }

    .protein{
        width: 150px;
        left: 73%;
        top: -28%;
    }

    .protein p {
        position: absolute;
        top: 5%;
        right: 0;
        font-size: 16px;
    }

    .calories{
        right: 83%;
        width: 135px;
    }

    .calories p{
        font-size: 18px;
        top: -3px;
        font-size: 16px;
    }

    .water{
        left: 78%;
        width: 120px;
    }

    .water p{
        font-size: 16px;
    }

    .fat{
        right: 48%;
        bottom: -9%;
        width: 148px;
        height: 32px;
    }

    .fat p{
        bottom: 74%;
        font-size: 16px;
    }

}

@media screen and (max-width: 385px){

    .arbuz-ingridients {
        margin: 0 auto;
    }

    .protein{
        left: 0;
        top: 52%;
    }

    .protein img{
        display: none;
    }

    .protein p{
        right: 20%;
        top: 44%;
        border-bottom: 2px solid #d4fa7a;
    }

    .calories{
        right: -4%;
        top: 96%;
    }

    .calories img{
        display: none;
    }

    .calories p{
        right: 20%;
        top: 44%;
        border-bottom: 2px solid #fd6363;
    }

    .water{
        left: 26%;
        top: 124%;
    }

    .water img{
        display: none;
    }

    .water p{
        left: 0;
        bottom: 0;
        border-bottom: 2px solid #8cdbf2;
    }

    .fat{
        left: 31%;
        bottom: -74%;
        width: 148px;
        height: 32px;
    }

    .fat img{
        display: none;
    }

    .fat p{
        bottom: 0%;
        font-size: 16px;
        border-bottom: 2px solid #fef45a;
    }
}
/*END ARBUZ IMG WITH STRIPS AND FEATURES*/

/*NUTRITION (PRICE)*/

.price{
    padding-top: 115px;
    padding-bottom: 111px;
    text-align: center;
}

.price-title{
    color: #4e4e4e;
    font-family: "MyriadPro";
    font-size: 47px;
    line-height: 50px;
    margin-bottom: 18px;
}

.price-text{
    color: #737070;
    font-family: "MyriadPro";
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 11px;
}

.price-policy {
    display: inline-block;
    vertical-align: top;
}

.price-package{
    box-sizing: border-box;
    padding: 1%;
    display: inline-block;
    text-align: center;
    transition: box-shadow .2s;
    width: 20%;
    vertical-align: top;
}

.price-package:hover{
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25);
}

.price-package input[type="submit"], button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.price-package input[type="submit"], button {
    background: none;
    border: 0;
    color: #737070;
    font-family: "MyriadPro";
    font-size: 25px;
    cursor: pointer;
    line-height: normal;
    overflow: visible;
    padding: 10px;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}
.price-package input[type="submit"], button:hover
{
    background: rgba(0, 0, 0, 0.4);
    -moz-transition-property: rgba(0, 0, 0, 0.4); /*SMOOTH CHANGE BG FOR HOVER*/
    -moz-transition-duration: 0.8s;
    -webkit-transition-property: rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 1s;
    -o-transition-property: rgba(0, 0, 0, 0.4);
    -o-transition-duration: 0.8s;
    color: #000;
}
.price-package input::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
    padding: 0;
    outline: none;
}
.price-package input[type="submit"], button:focus {
    outline: none;
}

@media (max-width: 925px) {

    .price-package {
        padding: 5% 10%;
    }
}

@media (max-width: 685px) {

    .price-package {
        padding: 5% 15%;
    }
}

.plan-name{
    margin-bottom: 51px;
    color: #7d7b7b;
    font-family: "MyriadPro";
    font-size: 33px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}

.price-package img{
    display: block;
    margin: 0 auto 16px;
    color: #4e4e4e;
    font-family: "MyriadPro";
    font-size: 32px;
    line-height: 34px;
}

.price-amount{
    margin-bottom: 39px;
    color: #b38e48;
    font-family: "MyriadPro";
    font-size: 32px;
    line-height: 34px;
}

.details{
    display: none;
}

.details:hover{
    background-color: #a7cd98;
    cursor: pointer;
}

.category {
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin-right: 10px;
}
.category input[type="button"], .category button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
.category input[type="button"], .category button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}
.category input::-moz-focus-inner,
.category button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu{
    position: relative;
    width: 500px;
    height: 35px;
    margin: 0;
    z-index: 15;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #7d7b7b;
    font-family: "MyriadPro";
    font-size: 33px;
    font-weight: 600;
    line-height: 35px;
}
.menu_item{
    width: 21%;
    line-height: 35px;
    background: #528354;
    color: #fff;
    padding: 10px;
    position: relative;
    display: block;
    border: 1px solid #fff;

}
.menu_item button{
    line-height: 35px;
    display: block;
    background: #528354;
}
.menu_item button:hover {
    background: #528354;
}
.sub-menu_item {
    opacity: 1;
}
.sub-menu_item button {
    display: block;
    background: #629d64;
    color: #fff;
    padding: 10px;
}

.menu_item:hover{
    height: 35px;
    color: #000;
    cursor: pointer;
}
.menu_item:hover > .sub-menu{
    display: block;
    background: #528354;
    width: 96%;
}
.sub-menu{
    position: relative;
    top: -125%;
    left: 111%;
    width: 100%;
    display: none;
}
.sub-menu .menu_item{
    width: 98%;
    background: #00e600;
}
.sub-menu .sub-menu{
    top: 0;
    left: 100%;
}
.menu_item .sub-menu .sub-menu{
    top: -35px;
    left: 100%;
}
.sub-menu .sub-menu .menu_item{
    background: #ace600;
}

/*END NUTRITION (PRICE)*/

/*FOOTER*/

footer{
    position: relative;
    padding-top: 91px;
    padding-bottom: 102px;
    background-color: #e9ede9;
}

footer .container{
    position: relative;
    padding: 0 10px;
}

.menu-bottom a{
    color: #747373;
    text-decoration: none;
    font-family: "MyriadPro";
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    padding-right: 15px;
    opacity: 0.7;
}

.menu-bottom a:hover{
    opacity: 1;
}

.btn-home{
    position: fixed;
    bottom: 3%;
    right: 2%;
    max-width: 48px;
    background: rgba(0,0,0,0.2);
    opacity: 0.5;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.btn-home:hover{
    opacity: 1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0,0,0,.3);
}

.copyrights{
    margin-right: 0px;
    margin-top: 16px;
    color: #958f8f;
    font-family: "MyriadPro";
    font-size: 18px;
    line-height: 18px;
}

.buy {
    width: 200px;
}
