* { padding: 0; margin: 0; }
body { background: #F0FFFF; letter-spacing: 1px;}

header {
    text-align: justify;
    padding: 0.5em 1%;
    background: #2c3e50;
    color: #fff;
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;

}

header div,
header div:before,
header nav,
header h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

header ::before {
    content: '';
    height: 100%;

}

h1 {
    margin: 0;
}
header nav a {
    padding: 0.0.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: calc( (50vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
    font-family:  Arial;

}
header nav{
    display: inline-block;
    width: 40%;
    margin-right: -5%;
}
header nav a:last-child {
    padding-right: 0;
}
h1 a{
    text-decoration: none;
    color: white;
    font-family: 'Trattatello', fantasy;
    font-size: 1.5em;
    display: inline-block;
}

@media screen and (max-width: 720px){
    header {
        height: auto;
    }

    header ,
    header  h1,
    header nav {
        height: auto;
        /*width: auto;*/
        display: block;
        text-align: center;
    }
}


img{
    width: 40%;
}

footer.container {
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    z-index: 100000;
    background-color: #2c3e50;
    width: 100%;
}
.btn-photo{
    position: fixed;
    top:10%;
    left: 2%;
    display: inline-block;
    width: 70px;
    height: 30px;
    opacity: 0.6;
}
.btn-photo a img {
    width: 100%;
    display: block;
}
.btn-photo:hover {
    opacity: 1;
}
.btn-folder{
    position: fixed;
    top:20%;
    left: 2%;
    display: inline-block;
    width: 70px;
    height: 30px;
    opacity: 0.3;
    /*display: none;*/
}
.btn-folder a img {
    /*display: block;*/
    width: 80px;
    cursor: pointer;
}
.btn-folder:hover {
    opacity: 1;
}
.btn-home {
    position: fixed;
    bottom: 2%;
    display: inline-block;
    right: 5%;
    /*display: flex;*/
    width: 40px;
    opacity: 0.3;
}
.btn-home a {
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 100%;
}
.btn-home a img {
    width: 100%;
    display: block;
}
.copyrights {
    display: inline-block;
    color: #fff;
}
.btn-home:hover{
    opacity: 1;
}
.main {
   margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
}
.main .left{
    width: 10%;
    background-color: #F0FFFF;
}
.main .right {
    width: 0%;
    background-color: #F0FFFF;
    display: flex;
    flex-direction: column;
}
.main .middle {
    width: 90%;
    flex-direction: column;
    text-align: center;
}
.main .picture-post{
    /*width: 500px;	height: 500px; !* Размеры *!*/
    /*!*background: #fc0; !* Цвет фона *!*!*/
    /*outline: 2px solid #000; !* Чёрная рамка *!*/
    /*border: 3px solid #fff; !* Белая рамка *!*/
    /*border-radius: 10px; !* Радиус скругления *!*/
}
.gallery img{
    margin:5px; /* внешние отступы картинок */
    border:3px solid #fff; /* рамка картинок */
    border-radius: 10px;
}
a.photo:hover img{
    border:3px solid #034F80; /* изменение цвета рамки при наведении на картинку */
}
.hovergallery img{
    -webkit-transform:scale(0.87); /*Webkit: уменьшаем размер до 0.8*/
    -moz-transform:scale(0.87); /*Mozilla: масштабирование*/
    -o-transform:scale(0.87); /*Opera: масштабирование*/
    -webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
    -moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
    -o-transition-duration: 0.5s; /*Opera: длительность анимации*/
    opacity: 1; /*Начальная прозрачность изображений*/
    margin: 0 10px 7px 0; /*Интервалы между изображениями*/
}

.hovergallery img:hover{
    -webkit-transform:scale(0.9); /*Webkit: увеличиваем размер до 1.2x*/
    -moz-transform:scale(0.9); /*Mozilla: масштабирование*/
    -o-transform:scale(0.9); /*Opera: масштабирование*/
    box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
    -webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
    opacity: 1;
}
.main .middle .like-holder {
    width: 15%;
    position: inherit;
    opacity: 0.7;
    display: inline-block;
}
#snapshot{
    position: fixed;
    top:16%;
    left: 2%;
    display: inline-block;
}

.sign-in {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.register-form_title {
    font-weight: bold;
    font-size: 20px;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "MyriadPro", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "MyriadPro", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2c3e50;
    width: 92%;
    border: 0;
    padding: 15px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #2c3e50;
}

